@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  aside {
    display: none;
  }

  .print\:hidden {
    display: none;
  }

  body {
    background: white;
  }

  main {
    padding: 0;
  }
}

